[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
[submodule "deps/miniz"]
	path = deps/miniz
	url = https://github.com/richgel999/miniz.git
[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "deps/bitsery"]
	path = deps/bitsery
	url = https://github.com/fraillt/bitsery.git
