[submodule "deps/miniz"]
	path = deps/miniz
	url = https://github.com/richgel999/miniz.git
[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "deps/SDL"]
	path = deps/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "deps/benchmark"]
	path = deps/benchmark
	url = https://github.com/google/benchmark.git
